*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-white:#fdfeff;
    --theme-yellow:#fec544;
    --theme-grey:#a9adb8;
    --theme-text:#070d1b;
    --theme-black:#070e1b;
    --theme-dark:#0A101E;
    --theme--grey--100:#151b2980;
   }
body{
    background-color: var(--theme-text);
    font-family: 'Inter' , sans-serif;
    overflow-x: hidden;
    color: var(--theme-grey);
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    display: block;
    width: 100%;
}
ul{
    list-style: none;
    display: inline-block;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.d-flex{
    display: flex;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-center{
   align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.position-relative {
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-column {
    flex-direction: column;
}
.mt-1{
    margin-top: 16px;
}
.mt-2{
    margin-top: 32px;
}
.mt-3{
    margin-top: 48px;
}
.ms-1{
    margin-left: 16px;
}
.ms-2{
    margin-left: 32px;
}
.ms-3{
    margin-left: 48px;
}
.me-1{
    margin-right: 16px;
}
.me-2{
    margin-right: 32px;
}
.me-3{
    margin-right: 48px;
}
.mb-1{
    margin-bottom: 16px;
}
.mb-2{
    margin-bottom: 32px;
}
.mb-3{
    margin-bottom: 48px;
}
.py-1{
    padding: 16px 0;
}
.py-2{
    padding: 32px 0;
}
.py-3{
    padding: 48px 0;
}
.px-1{
    padding: 0 16px;
}
.px-2{
    padding: 0 32px;
}
.px-3{
    padding: 0 48px;
}
.py-1{
    padding: 16px 0;
}
.py-2{
    padding: 32px 0;
}
.py-3{
    padding: 48px 0;
}
.px-1{
    padding: 0 16px;
}
.px-2{
    padding: 0 32px;
}
.px-3{
    padding: 0bottompx;
}
.fa-phone{
    color: var(--theme-white);
    font-size: 14px;
}
.btn{
    max-width: 170px;
    display: inline-flex;
    justify-content: center;
    background-color: var(--theme-yellow);
    border-radius: 20px;
    padding: 12px 1.7em;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--theme-black);
    outline: none;
    color: var(--theme-black);
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    max-width: 170px;
    -webkit-box-shadow: 0px 5px 10px 0px #fec64448;
    box-shadow: 0px 5px 10px 0px #fec64448;
    border: none;

}
.height-80{
    background-color: var(--theme-dark);
    height: 80px;
    width: 100%;
}

.about .about-heading h2 , 
.service .service-heading h2 ,
.skill .skill-heading h2{
    color: var(--theme--grey--100);
    font-size: 90px;
    
}
.about .about-heading h4 ,
.service .service-heading h4,
.skill .skill-heading h4{
    color:var(--theme-yellow);
    font-size: 24px;
    transform: translateY(18px);
    font-weight: 500;
   
}

.about .about-heading h4::before ,
.service .service-heading h4::before ,
.skill .skill-heading h4::before{
    content: "";
    width: 170px;
    height: 2px;
    background-color: #3f4551;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%)
}
.about .about-heading h4::after ,
.service .service-heading h4::after ,
.skill .skill-heading h4::after{
    content: "";
    width: 70px;
    height: 2px;
    background-color :var(--theme-yellow);
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%)
}
/*header start  */

header{
    background-color: var(--theme-black);
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;

}
header ul {
  list-style: none;
}
header ul li a{
    color: var(--theme-white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;

}
header ul li:first-child a , header ul li:last-child a{
    color: var(--theme-yellow);
}
header ul li:last-child a::before{
    content: '|';
    color: var(--theme-white);
    font-size: 10px;

}
/*header end */

/* hero section start */
.hero{
    background-image: url(../image/hero-bg.jpg);
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    background-position: left;
}
.hero .heros-content{
    z-index: 1;
    height: 700px;
}
.hero .heros-content h3{
    color: var(--theme-yellow);
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    z-index: 1;
}
.hero .heros-content h2{
    color: var(--theme-grey);
    width: 100%;
    font-size: 34px;
    font-weight: 300;
    margin: 25px 0;
    z-index: 1;
}
.hero .heros-content h1{
    
    color: var(--theme-white);
    font-size: 120px;
    width: 100%;
    line-height: 1;
    z-index: 1;
}
.hero .heros-content img{
    top: 0%;
    left: 60%;
    width: 850px; 
    z-index: 0;
}
.hero .heros-contact{
    align-items: center;
    left: 50%;
    transform: translateX(-86.5px);
}
.hero .heros-contact ul {
    width: 448px;
    height: 80px;
    transform: translateX(-50%);
    padding-left: 12px;
    background-color: rgba(255, 255, 255, 0.034);
    backdrop-filter: blur( 1px );
    border-radius: 50px  0 0  50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-right: 0px;
    align-items:center;
    z-index: 0;
}

.hero .heros-contact ul li a {
    height: 50px;
    width: 50px;
    text-align: center;
    color: var(--theme-white);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.425);
    background-color: var(--theme-black);
    overflow: hidden;
    display: flex;
    align-items: center;  
    transition: all ease 0.5s;

}

.hero .heros-contact ul li a i{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .heros-contact ul li a:hover {
    width: 130px;
}

.hero .heros-contact ul li a {
    margin-right: 30px;
}
/* hero section end */

/* about-section-start */
.about {
    background-color: var(--theme-dark);
    height: 750px;
}
.about-content{
    transform: translateY(60px);
}
.about-content .about-img{
    background-image: url(../image/about.jpg);
    width: 510px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}
.about-content .content h2{
color: var(--theme-white);
font-size: 36px;
font-weight: 400;
}
.about-content .content h3{
    color: var(--theme-yellow);
    font-size: 24px;
    font-weight: 300;
}
.about-content .content p{
    line-height: 24px;
    font-weight: 300;
}
.about-content .content ul li :first-child{
    display: inline-block;
    width: 108px;
    margin-right: -5px;
}
.about-content .content ul li :last-child{
    display: inline-block;
    margin-left: 7px;
}
/* about-section-end */

/* service-section-stat */

.service{
    background-color: var(--theme-dark);
    height: 900px;
}
.service .service-content{
    transform: translateY(90px);
    
}
.service .service-content .row .col-4{
    width: 330px;
    height: 330px;
    text-align: center;
    padding: 50px 30px;
    border-radius: 3px;
    transition: all 0.4s ease;
    border: 1px solid #232935;
    background-color: #101624;
    margin-right: 25px;
    margin-bottom: 25px;
    
}

.service .service-content .icon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #232935;
    background-color: var(--theme-dark);
    padding: 20px;
    align-items: center;
    justify-content: center;
    align-self: center;
    transform: translateX(90px);
}

.service .service-content .icon svg{
    width: 50px;
    height: 50px;
    fill: #232935;
} 
.service .service-content h2{
    color: var(--theme-white);
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
}

.service .service-content col-4:hover .service .service-content h2{
    color: var(--theme-yellow);
}
.service .service-content col-4:hover .service .service-contentsvg {
    fill: var(--theme-yellow);
}
.service .service-content col-4:hover .icon {
    border: 1px solid var(--theme-yellow);
}

/* service-section-end */
